/* GENERAL RULES */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* MAIN CONTAINER */

.wrapper {

  height: 100%;
  width: 100%;

  background-color: lightgrey;

}

/* HEADER */

header {

  display: flex;
  align-items: center;

  height: 70px;
  width: 100%;
  padding: 0 10px;

  background-color: black;

}

header .logo {

  width: 50%;

}

header .logo h1 {

  text-transform: uppercase;

  color: red;

}

header .input_container {

  display: flex;
  justify-content: flex-end;

  width: 50%;

}

header .input_container #search {

  height: 50px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 25px;
  outline: none;

}

header .input_container #btn {

  margin-left: 10px;
  width: 80px;
  font-style: italic;
  border-radius: 20px;
  font-size: 15px;

}

/* MAIN */

main {

  height: 100%;
  width: 100%;

}

.films_results, .series_results {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;


  width: 100%;

}

#films_card, #tv_series_card {

  position: relative;

  height: 513px;
  width: 342px;
  margin: 15px;

  cursor: pointer;

}

#films_card li , #tv_series_card li {

  list-style-type: none;

  margin: 10px 0;

}

#films_card li img, #tv_series_card li img {

  height: 20px;
  width: 20px;

}

.poster img {

  height: 513px;
  width: 342px;

}

.info {

  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  background-color: black;
  color: white;

  overflow: auto;
  transition: 1s;

}

#films_card:hover .info, #tv_series_card:hover .info {

  visibility: visible;
  opacity: 1;

  transition: 1s;

}

.stars {

  color: yellow;

}

span {

  color: red;

}
